<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Політика Конфіденційності - Аналітика Музичних Переваг</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li>
             <strong><a href="/">SpotifyStats</a></strong></li>


    </ul>
    <ul class="right">
        {% if logged_in %}
            <li><a href="{{ url_for('statistics') }}">Ваша статистика</a></li>
            <li><a href="/logout" role="button">Вийти</a></li>
        {% else %}
        {% endif %}
    </ul>
</nav>

<main class="container">
    <section>
        <h2>Політика Конфіденційності</h2>
        <p>Дата останнього оновлення: 20.01.2024</p>
        <p>Ця Політика Конфіденційності описує, як SpotifyStats збирає, використовує та захищає ваші особисті дані.</p>

        <h3>Збір Інформації</h3>
        <p>Ми збираємо інформацію, яку ви надаєте при використанні нашого сайту, включаючи ваші дані для авторизації через Spotify.</p>

        <h3>Використання Інформації</h3>
        <p>Інформація, яку ви надаєте, використовується для відображення вашої персоналізованої статистики музичних вподобань.</p>

        <h3>Поділ Інформації</h3>
        <p>Ми не передаємо ваші особисті дані третім особам, крім випадків, коли це вимагається за законом.</p>

        <h3>Захист Інформації</h3>
        <p>Ми вживаємо заходів для захисту вашої інформації від несанкціонованого доступу та розкриття.</p>

        <h3>Ваших Права</h3>
        <p>Ви маєте право доступу, виправлення та видалення ваших особистих даних, які ми зберігаємо.</p>

        <h3>Зміни до Політики</h3>
        <p>Ми можемо оновлювати цю Політику Конфіденційності від часу до часу. Всі зміни будуть опубліковані на цій сторінці.</p>

        <h3>Контакти</h3>
        <p>Якщо у вас є запитання щодо цієї Політики, будь ласка, зв'яжіться з нами через test@gmail.com.</p>
    </section>
</main>

<footer class="container">
    <small>
        &copy; 2024 SpotifyStats. Всі права захищені.
    </small>
</footer>
</body>
</html>
